include ../mixins/sub-menu.pug
header.header.modern-header
    .header-top
        .container
            .header-top-content
                .header-social
                    a(href="https://www.facebook.com/" aria-label="Facebook")
                        i.fab.fa-facebook-f
                    a(href="https://www.instagram.com/" aria-label="Instagram")
                        i.fab.fa-instagram
                    a(href="#" aria-label="Twitter")
                        i.fab.fa-twitter
                .header-contact
                    span
                        i.fas.fa-phone-alt
                        |   #{settingGeneral.phone}
                    span
                        i.fas.fa-envelope
                        |    #{settingGeneral.email}

    .header-main
        .container
            .header-wrapper
                // Logo Section
                .header-logo
                    a(href="/" class="logo-link")
                        img(src=settingGeneral.logo, alt="logo")

                // Search Section
                .header-search
                    form(action="/search" method="GET" class="search-form")
                        .search-wrapper
                            input(
                                type="text"
                                placeholder="Tìm kiếm sản phẩm, danh mục..."
                                class="search-input"
                                name="keyword"
                                value=keyword
                            )
                            button(type="submit" class="search-btn")
                                i.fas.fa-search
                                span Tìm kiếm

                .header-actions
                    if(user)
                        .header-action-item.user-menu
                            a(href="/user/info" class="user-link")
                                .user-avatar
                                    i.fas.fa-user-circle
                                .user-info
                                    span.user-greeting Xin chào
                                    span.user-name #{user.fullName}
                            .dropdown-menu.user-dropdown
                                a(href="/user/info" class="dropdown-item")
                                    i.fas.fa-user
                                    | Thông tin tài khoản
                                a(href="/users/friends" class="dropdown-item")
                                    i.fas.fa-user-friends
                                    | Bạn bè
                                a(href="/rooms-chat" class="dropdown-item")
                                    i.fas.fa-comments
                                    | Phòng chat
                                .dropdown-divider
                                a(href="/user/logout" class="dropdown-item logout")
                                    i.fas.fa-sign-out-alt
                                    | Đăng xuất
                    else
                        .header-action-item
                            a(href="/user/login" class="action-link")
                                i.fas.fa-sign-in-alt
                                span Đăng nhập
                        .header-action-item
                            a(href="/user/register" class="action-link primary")
                                i.fas.fa-user-plus
                                span Đăng ký

                    .header-action-item.cart-action
                        a(href="/cart" class="cart-link")
                            i.fas.fa-shopping-cart
                            span.cart-badge #{miniCart.totalQuantity||0}
                // Mobile Menu Toggle
                .mobile-menu-toggle
                    button(class="hamburger" type="button")
                        span
                        span
                        span

    // Navigation Bar
    .header-nav
        .container
            nav.main-navigation
                ul.nav-list
                    li.nav-item
                        a(href="/" class="nav-link") 
                            i.fas.fa-home
                            | Trang chủ
                    li.nav-item.has-submenu
                        -const pathProduct="/products"
                        a(href=pathProduct class="nav-link") 
                            i.fas.fa-box
                            | Sản phẩm
                            i.fas.fa-chevron-down.submenu-arrow
                        .mega-menu
                            +sub-menu(layoutProductsCategory, pathProduct)
                    li.nav-item
                        a(href="/about" class="nav-link") 
                            i.fas.fa-info-circle
                            | Giới thiệu
                    li.nav-item
                        a(href="/contact" class="nav-link") 
                            i.fas.fa-phone
                            | Liên hệ
                    if(user)
                        li.nav-item.mobile-only
                            a(href="/users/friends" class="nav-link") 
                                i.fas.fa-user-friends
                                | Bạn bè
                        li.nav-item.mobile-only
                            a(href="/rooms-chat" class="nav-link") 
                                i.fas.fa-comments
                                | Phòng chat