extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    .container.my-3
        include ../../partials/list-btn-user
        .row
            .col-12
                +box-head("Danh sách bạn bè")
        .row(data-user-friend=user.id)
            each user in users
                .col-6(user-id=user.id)
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar?user.avatar:"https://th.bing.com/th/id/OIP.kQyrx9VbuWXWxCVxoreXOgHaHN?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3")
                                alt=""
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                a(
                                href=`/chat/${user.infoFriend.room_chat_id}`
                                class="btn btn-sm btn-primary mr-1"
                                ) Nhắn tin
                        div(
                            class="inner-status"
                            status=user.statusOnline
                        ) <i class="fa-solid fa-circle"></i>
block script
    script(src="/js/users.js") 