header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/admin/dashboard") ADMIN
            .col-9
                div.text-right
                    a(
                        href=`${prefixAdmin}/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    ) #{user.fullName}
                    a(
                        href=`${prefixAdmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất
                    .dropdown(style="position: relative; display: inline-block;")
                        a.btn.btn-outline-danger.btn-sm.ml-2(href="", id="trashBtn")
                            i(class="fa-solid fa-trash")

                        ul.dropdown-menu
                            li
                                a(href=`${prefixAdmin}/bin/products`, class="dropdown-item") Thùng rác sản phẩm
                            li
                                a(href=`${prefixAdmin}/bin/orders`, class="dropdown-item") Thùng rác đơn hàng